.inverted {
	clip-path: path("M50,0H250A50,50 0,0,1 300,50V295A30,30 0,0,1 270,325H230A30,30 0,0,0 200,355V395A30,30 0,0,1 170,425H50A50,50 0,0,1 0,375V50A50,50 0,0,1 50,0Z");
	aspect-ratio: 12 / 17;
}

.carousel-card {
  will-change: transform, scale, rotation;
}

video, .grid-dots-black {
  will-change: transform, opacity;
}